<div class="container">
  <div class="card">
    <nz-select
      id="city-selector"
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search..."
      [formControl]="searchInputCtrl"
      [nzShowArrow]="true"
      [nzDropdownClassName]="'weather-search-options'"
      [nzSuffixIcon]="suffixIcon"
      [nzStatus]="hasError ? 'error' : ''"
      (nzOnSearch)="onSearchChange($event)"
    >
      <ng-container *ngIf="optionList$ | async as options">
        <nz-option
          *ngFor="let opt of options"
          [nzLabel]="opt.text"
          [nzValue]="opt.value"
        ></nz-option>
      </ng-container>
      <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
        <span nz-icon nzType="loading" class="loading-icon"></span>
        Loading...
      </nz-option>
      <ng-template #suffixIcon>
        <div class="search-icon">
          <span nz-icon nzType="search"></span>
        </div>
      </ng-template>
    </nz-select>

    <div
      class="weather-data"
      *ngIf="weatherData$ | async as weatherData; else noData"
    >
      <p class="weather-data-title">Weather in {{ weatherData.name }}</p>

      <p class="weather-data-temp">{{ weatherData.main.temp }} °C</p>
      <p
        *ngIf="weatherData.weather[0].main as condition"
        class="weather-condition"
      >
        <img
          class="weather-condition-icon"
          [src]="
            'https://openweathermap.org/img/wn/' +
            weatherData.weather[0].icon +
            '.png'
          "
          [alt]="condition"
        />
        {{ condition }}
      </p>
      <p class="weather-data-humidity">
        Humidity: {{ weatherData.main.humidity }}%
      </p>
      <p class="weather-data-wind-speed">
        Wind speed: {{ weatherData.wind.speed }} km/hr
      </p>
    </div>

    <ng-template #noData>
      <div class="no-data-notice">
        <span
          nz-icon
          nzType="warning"
          nzTheme="twotone"
          [nzTwotoneColor]="'#faad14'"
        ></span>
        <p>
          No location selected. Please choose a location to display weather data
          for.
        </p>
      </div>
    </ng-template>
  </div>
</div>
