<div class="container">
  <app-card>
    <nz-select
      id="city-selector"
      nzShowSearch
      nzServerSearch
      [nzPlaceHolder]="'weatherSearchPage.searchBoxPlaceholder' | transloco"
      [formControl]="searchInputCtrl"
      [nzShowArrow]="true"
      [nzDropdownClassName]="'weather-search-options'"
      [nzSuffixIcon]="suffixIcon"
      [nzStatus]="hasError ? 'error' : ''"
      (nzOnSearch)="onSearchChange($event)"
    >
      <ng-container *ngIf="optionList$ | async as options">
        <nz-option
          *ngFor="let opt of options"
          [nzLabel]="opt.text"
          [nzValue]="opt.value"
        ></nz-option>
      </ng-container>

      <nz-option *ngIf="isLoadingOptions" nzDisabled nzCustomContent>
        <span nz-icon nzType="loading" class="loading-icon"></span>
        {{ "general.loading" | transloco }}
      </nz-option>
      <ng-template #suffixIcon>
        <div class="search-icon">
          <span nz-icon nzType="search"></span>
        </div>
      </ng-template>
    </nz-select>

    <app-weather-display
      [weatherData]="weatherData$ | async"
      [isLoadingWeatherData]="isLoadingWeatherData"
    >
    </app-weather-display>
  </app-card>
</div>
