.container {
  display: flex;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #001529;
  border-radius: 2rem;
  margin: auto;
  padding: 2rem 4rem;
  color: #fafafa;
}
.weather-data,
.no-data-notice {
  margin-top: 1rem;

  p {
    margin: 0;
    color: #fafafa;
  }
}

.weather-data {
  .weather-data-title {
    font-size: 1.5rem;
  }

  .weather-data-temp {
    font-weight: 800;
    font-size: 2rem;
    margin: 1rem 0;
  }

  .weather-condition-icon {
    font-size: 1.5rem;
    width: 2rem;
  }
}

.no-data-notice {
  text-align: center;

  span[nz-icon] {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

nz-select {
  width: 100%;
}

.search-icon {
  font-size: 1rem;
}

:host ::ng-deep {
  #city-selector nz-select-top-control {
    border-radius: 2rem;
  }
}
::ng-deep {
  .weather-search-options nz-option-container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    padding: 3rem;
  }
}
