:host {
  display: block;
  width: 100%;
}

.card {
  width: var(--inWeather-ui-card-width);
  max-width: var(--inWeather-ui-card-maxWidth);
  background-color: var(--inWeather-ui-card-bgColor);
  border-radius: var(--inWeather-border-radius-md);
  margin: auto;
  padding: var(--inWeather-padding-md) var(--inWeather-padding-lg);
  color: var(--inWeather-ui-card-fontColor);
}

@media screen and (max-width: 600px) {
  .card {
    width: calc(var(--inWeather-ui-card-width) + 20%);
    padding: var(--inWeather-padding-md);
  }
}
