.inline-menu {
  display: none;
}

nz-layout {
  height: 100%;
}

nz-content {
  height: 100%;
}

nz-header {
  display: flex;
  align-items: center;
}

.logo {
  width: var(--inWeather-layout-logo-width);
  height: var(--inWeather-layout-logo-height);
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }

  .inline-menu {
    display: block;
  }

  nz-header {
    justify-content: space-between;
  }
}
