<nz-layout>
  <nz-header>
    <img class="logo" [src]="logo" alt="Logo" />

    <ng-container *ngIf="menuItems">
      <button
        class="inline-menu"
        nz-button
        nzType="primary"
        nz-dropdown
        [nzDropdownMenu]="dropdownMenu"
      >
        <span nz-icon nzType="menu" nzTheme="outline"></span>
        <nz-dropdown-menu #dropdownMenu="nzDropdownMenu">
          <ng-container
            [ngTemplateOutlet]="mainMenu"
            [ngTemplateOutletContext]="{ menuDirection: 'vertical' }"
          >
          </ng-container>
        </nz-dropdown-menu>
      </button>
      <div class="menu">
        <ng-container
          [ngTemplateOutlet]="mainMenu"
          [ngTemplateOutletContext]="{ menuDirection: 'horizontal' }"
        >
        </ng-container>
      </div>
    </ng-container>
  </nz-header>

  <nz-content>
    <ng-content select="[content]"></ng-content>
  </nz-content>
</nz-layout>

<ng-template #mainMenu let-menuDirection="menuDirection">
  <ul nz-menu nzTheme="dark" [nzMode]="menuDirection">
    <li
      *ngFor="let item of menuItems"
      nz-menu-item
      [nzDisabled]="item.isDisabled"
      [nzSelected]="item.isSelected"
      [nzMatchRouter]="item.isMatchRouter"
      [nzMatchRouterExact]="item.isMatchRouterExact"
    >
      <a [routerLink]="item.routerLink">
        {{ item.text }}
      </a>
    </li>
  </ul>
</ng-template>
