// All variables go into this file
// We'll use CSS variables to avoid having to import
// the less file everywhere

:root {
  // General
  --inWeather-border-radius-sm: 1rem;
  --inWeather-border-radius-md: 2rem;
  --inWeather-border-radius-lg: 4rem;

  --inWeather-margin-sm: 1rem;
  --inWeather-margin-md: 2rem;
  --inWeather-margin-lg: 4rem;

  --inWeather-padding-sm: 1rem;
  --inWeather-padding-md: 2rem;
  --inWeather-padding-lg: 4rem;

  --inWeather-fontSize-xs: 1rem;
  --inWeather-fontSize-sm: 1.5rem;
  --inWeather-fontSize-md: 2rem;

  --inWeather-fontColor-light: #fafafa;

  // Layout
  --inWeather-layout-logo-width: 200px;
  --inWeather-layout-logo-height: 100%;

  // Core - Card
  --inWeather-ui-card-width: 70%;
  --inWeather-ui-card-maxWidth: 500px;
  --inWeather-ui-card-bgColor: #001529;
  --inWeather-ui-card-fontColor: var(--inWeather-fontColor-light);

  // Common - Weather Display
  --inWeather-ui-weatherDisplay-fontColor: var(--inWeather-fontColor-light);
  --inWeather-ui-weatherDisplay-textAlign: left;
  --inWeather-ui-weatherDisplay-noDataTextAlign: center;
  --inWeather-ui-weatherDisplay-loadingTextAlign: center;
}
